@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
  }
  ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(0,0,0,.2);
  }::-webkit-scrollbar-track {
  background: hsla(0,0%,100%,.1);
  }
